.my-color{
    background-color: rgb(0, 54, 0);
    min-height: 10vh;
}
.my-color2{
    background-color: rgb(0, 54, 0);
    min-height: 20vh;
}
.bgimage{
    background-image: url("https://chadashby.files.wordpress.com/2020/09/angel-oak-park-south-carolina.png");
    min-height: 70vh;
    background-size: cover;
    }

    @media (max-width: 768px)
     {
        #overimagetext
        {
            display: none;}
        }
    
.spill{
    bottom: -80px;
}

@media (max-width:768px) {
    #card1{
        order: 1;
    }
    .spill{
        bottom: 0px;
    }
}

@media (max-width:768px) {
    #card2{
        order: 2;
        
    }  
}

@media(max-width:768px) {
    
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
     }
    }

