.my-color{
    background-color: rgb(54, 173, 54);
    min-height: 10vh;
}
.my-color2{
    background-color: rgb(54, 173, 54);
    min-height: 20vh;
}
.bgimage{
    background-image: url("https://wallpaperaccess.com/full/4558157.jpg");
    min-height: 90vh;
    background-size: cover;
    }


    @media (max-width: 768px)
     {
        #overimagetext
        {
            display: none;}
        }
    
.spill{
    bottom: -80px;
}

@media (max-width:768px) {
    #card1{
        order: 1;
    }
    .spill{
        bottom: 0px;
    }
}

@media (max-width:768px) {
    #card2{
        order: 2;
        
    }  
}
@media (max-width:768px) {
    #card3{
        order: 3;
        
    }  
}

@media(max-width:768px) {
    
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
     }
    }

.my-font {font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
}
